<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mostafa.surveysapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:name=".SurveysApp"
        android:theme="@style/AppTheme">
        <activity
            android:name=".login.LoginActivity"
            android:theme="@style/LoginTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SurveysListActivity" />
        <activity
            android:name=".NewSurveyActivity"
            android:label="@string/new_survey">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".SurveysListActivity" />
        </activity>
        <activity
            android:name=".NewQuestionActivity"
            android:label="@string/new_question">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".NewSurveyActivity" />
        </activity>
        <activity
            android:name=".MySurveysActivity"
            android:label="@string/my_surveys"
            android:parentActivityName=".SurveysListActivity" />
        <activity
            android:name=".SurveyActivity"
            android:parentActivityName=".SurveysListActivity" />
        <activity android:name=".ResultsActivity" />
        <activity android:name=".ResultActivity"/>

        <receiver android:name=".widget.SurveyWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/survey_widget_info" />
        </receiver>


    </application>

</manifest>